# .gitignore

# Virtual environment
/.venv

# Executables
/*.exe
/*.out
/dist/

# Project-specific files
/links.json

# Python artifacts
__pycache__/
*.pyc

# macOS artifacts
.DS_Store

# IDE and editor files (examples)
.vscode/
.idea/