# .gitignore

# Virtual environment
/.venv

# Executables
/*.exe
/*.out
/dist/
/build/
/output/

# Project-specific files
/links.json
/linkman.spec
/linkit.spec
/inventory.json
/settings.json
/exported_inventory_pdfs/
/exported_links.pdf

# Python artifacts
__pycache__/
*.pyc

# macOS artifacts
.DS_Store

# IDE and editor files (examples)
.vscode/
.idea/

# Other